body {
    margin: 0;
    background-color:  #629f48;
    color: #a34f43;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
}
nav{
    background-color:#8f8c2b;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1px 5px;
}
audio{
        background-color:#8f8c2b;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1px 610px;
}
header {
     background-color:#8f8c2b;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 40px 380px;
}
nav li {
    list-style: none;
    display: flex;
    gap: 300px;
}
nav a{
    text-decoration: none;
    color: #c80be1bd;
}
nav a{
    text-decoration: none;
    color: #540a6bbd;
}
.banner {
    text-align: center;
    background: linear-gradient(145deg,#382c84 #11117f );
    padding: 40px 30px;
}
img {
    width: 300px;
    height: 315px;
}

.cards{
    padding: 30px 40px;
    text-align: center;
}

.card {
    background-color: #23352cdf;
    border-radius: 50px;
    width: 300px;
    display: inline-block;
    margin: 30px 30px auto;
    padding: 55px;
    vertical-align: top;
    align-content: center;
}